@charset "utf-8";

body {
  background-color: #9b9b9b !important;
  margin: 0px;
}

.headerWrapper {
  background-color: #e177e5;
  max-width: 100%;
}

.smHeaderWrapper {
  display: none;
}

.stickyHeader {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  position: static;
  top: 0px;
  width: 100%;
}

.smStickyHeader {
  display: none;
}

.stickyHeader.sticky {
  background: #e177e5;
  position: fixed;
  top: 0;
  left: 0;
  width: 102%;
  z-index: 1;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: 'Alex Brush', cursive !important;
  padding-left: 72px !important;
  letter-spacing: 6px;
  width: 25%;
  padding: 15px;
  margin-bottom: 0rem !important;
  color: #efe40b !important;
  font-weight: 700 !important;
  font-size: 4.5rem !important;
  text-shadow: -1.5px -1.5px 0px rgba(255, 255, 255, 0.3), 1.5px 1.5px 0px #4f4f4f;
}

.stickyHeader nav {
  float: right;
  position: relative;
  top: 28px;
  right: 63px;
  font-size: 17pt !important;
}

label {
  padding: 10px;
}

label a {
  color: #000;
  text-decoration: none;
}

label a:hover {
  color: #ededed;
  text-decoration: none;
}

label a:active {
  color: #4f4f4f;
  text-decoration: none;
}

.container {
  margin-top: 0px;
  box-shadow: 2px 2px 2px #515254;
  padding: 0px !important;
}

#about {
  background-color: #d6d6d6;
  width: 100%;
  padding-bottom: 60px;
}

#sm_about {
  display: none;
}

p {
  font-size: 17pt;
  padding-top: 50px;
  padding-left: 50px;
  position: relative;
  top: 70px;
  line-height: 40pt;
}

.photo {
  border-radius: 50%;
  position: relative;
  left: 66px;
  top: 94px;
  margin: 0 auto;
}

hr {
  border-width: 5px !important;
  position: relative;
  left: 47px;
  top: 76px;
}

span {
  padding-left: 50px;
  font-size: 18pt;
  font-weight: 500;
  position: relative;
  top: 92px;
}

#sm_portfolio {
  display: none;
}

#portfolio {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 60px;
}

#portfolio h2 {
  text-align: center;
  font-weight: bold;
  color: #707070;
  padding-top: 55px;
  padding-bottom: 40px;
}

#portfolio hr {
  background-color: #707070;
  width: 50%;
  position: relative;
  top: 0px !important;
  left: 0px !important;
}

.case_study {
    width: 450px;
    padding: 10px;
    background-color: #e177e5;
    margin-left: 44px;
    position: relative;
    bottom: 1px;
    text-align: center;
}

.case_study a {
  color: #000;
}

.case_study a:hover {
  color: #ededed;
  text-decoration: none;
}

.oil {
  position: relative;
  left: 44px;
  padding-top: 30px;
}

.quote {
  position: relative;
  left: 44px;
  padding-top: 30px;
}

.weather {
  position: relative;
  left: 44px;
  padding-top: 30px;
}

.viewer {
  position: relative;
  left: 44px;
  padding-top: 30px;
}

.twitch {
  position: relative;
  left: 44px;
  padding-top: 30px;
}

#sm_contact {
  display: none;
}

#contact {
  background-color: #d6d6d6;
  width: 100%;
  padding-bottom: 60px;
}

#contact h2 {
  text-align: center;
  font-weight: bold;
  color: #707070;
  padding-top: 55px;
  padding-bottom: 40px;
}

#contact hr {
  background-color: #707070;
  width: 50%;
  position: relative;
  top: 0px !important;
  left: 0px !important;
}

#contact_form {
  padding-left: 80px;
  font-size: 15pt;
  padding-top: 30px;
}

#message {
  height: 200px !important;
}

input {
  width: 410px;
  border: 0px !important;
  border-bottom: 1px solid #000 !important;
  background-color: #d6d6d6;
}

textarea {
  border: 0px !important;
  background-color: #d6d6d6;
  border-bottom: 1px solid #000 !important;
}

textarea[placeholder] {
  color: #757575;
}

#contact p {
  font-size: 15pt;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 60px;
  top: 0px !important;
}

.smHeaderWrapper {
  display: none;
}

.smStickyHeader {
    display: none;
}

#burger-toggle {
    visibility: hidden;
}


@media screen and (max-width: 1199px) {
  .photo {
    left: 1px;
    margin: 0 auto;
  }

  .case_study {
    width: 86%;
    margin-left: 54px;
  }

  .stickyHeader {
    width: 100%;
  }

  .oil {
    position: relative;
    left: 54px;
    padding-top: 30px;
    width: 400px;
    height: 275px;
    margin-top: 3px;
  }

  .quote {
    position: relative;
    left: 54px;
    padding-top: 30px;
    width: 400px;
    height: 275px;
    margin-top: 3px;
  }

  .weather {
    position: relative;
    left: 54px;
    padding-top: 30px;
    width: 400px;
    height: 275px;
    top: 11px;
  }

  .viewer {
    position: relative;
    left: 54px;
    padding-top: 30px;
    width: 400px;
    height: 275px;
    top: 11px;
  }

  .twitch {
    position: relative;
    left: 54px;
    padding-top: 30px;
    width: 400px;
    height: 275px;
    top: 11px;
  }

  #contact_form {
    padding-left: 70px;
  }

  #contact p {
    padding-left: 60px;
  }

  #sm_about {
    display: none;
  }

  .smHeaderWrapper {
    display: none;
  }

  .smStickyHeader {
    display: none;
  }

  #burger-toggle {
    visibility: hidden;
  }
}

@media screen and (max-width: 991px) {

  .smHeaderWrapper {
    background-color: #e177e5;
    display: block;
    min-height: 116px;
  }

  .smStickyHeader {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    position: static;
    top: 0px;
    width: 100%;
    display: block;
    min-height: 116px;
  }

  .smStickyHeader.sm_sticky {
    background: #e177e5;
    position: fixed;
    top: 0;
    left: 0;
    width: 102%;
    min-height: 116px;
    z-index: 1;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  }

  .col-sm-6:nth-child(4) {
    float: right;
    position: absolute;
    right: 14px;
    top: 102px;
  }

  h1 {
    position: absolute;
    top: 10px;
  }

 .smStickyHeader nav {
    float: right;
    position: absolute;
    top: -68px;
    right: 44px;
    font-size: 17pt !important;
  }

/*  .col-sm-6 label {
    padding: 10px;
  }

  .col-sm-6 label a {
    color: #000;
    text-decoration: none;
  }

  .col-sm-6 label a:hover {
    color: #ededed;
    text-decoration: none;
  }

  .col-sm-6 label a:active {
    color: #4f4f4f;
    text-decoration: none;
  }*/

  .headerWrapper {
    display: none;
  }

  .container {
    max-width: 100%;
  }

  #sm_about {
    background-color: #d6d6d6;
    width: 100%;
    padding-bottom: 100px;
    display: block;
  }

  #sm_about p {
    padding-top: 7px;
    padding-right: 40px;
    top: 158px;
    display: block;
  }

  .photo {
    width: 400px;
    height: 400px;
    display: block;
    margin: -50px auto;
  }

  hr {
    width: 87%;
    left: 0px;
  }

  span {
    top: 91px;
  }

  #sm_portfolio {
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 60px;
    display: block;
  }

  #sm_portfolio h2 {
    text-align: center;
    font-weight: bold;
    color: #707070;
    padding-top: 55px;
    padding-bottom: 40px;
  }

  #sm_portfolio hr {
    background-color: #707070;
    width: 50%;
    position: relative;
    top: 0px !important;
    left: 0px !important;
  }

  .sm_oil, .sm_quote, .sm_weather, .sm_viewer, .sm_twitch {
    position: relative;
    left: 136px;
    padding-top: 30px;
  }

  .sm_case_study {
    width: 450px;
    padding: 10px;
    background-color: #e177e5;
    margin-left: 136px;
    position: relative;
    bottom: 1px;
    text-align: center;
  }

  .sm_case_study a {
    color: #000;
  }

  .sm_case_study a:hover {
    color: #ededed;
    text-decoration: none;
  }

  #about, #portfolio, #contact {
    display: none;
  }

  #sm_contact {
    background-color: #d6d6d6;
    width: 100%;
    padding-bottom: 60px;
    display: block;
  }

  #sm_contact h2 {
    text-align: center;
    font-weight: bold;
    color: #707070;
    padding-top: 55px;
    padding-bottom: 40px;
  }

  #sm_contact p {
    padding-right: 30px;
    padding-top: 0px;
    padding-left: 80px;
    top: 22px;
  }

  #sm_contact_form {
    padding-top: 42px;
    padding-left: 80px;
    font-size: 15pt;
  }

  input {
    width: 561px;
  }

  button {
    left: 249px;
    position: relative;
  }

  #sm_contact hr {
    background-color: #707070;
    width: 50%;
    position: relative;
    top: 0px !important;
    left: 0px !important;
  }

  #burgerDiv {
    visibility: hidden;
  }

  #burger-toggle {
    visibility: hidden;
  }
}

@media screen and (max-width: 767px) {
  .smHeaderWrapper {
    background-color: #e177e5;
    display: block;
  }

  .smStickyHeader {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    position: static;
    top: 0px;
    width: 100%;
    display: block;
  }

  h1 {
    font-size: 4rem !important;
  }

  .smStickyHeader.sm_sticky {
    background: #e177e5;
    position: fixed;
    top: 0;
    left: 0;
    width: 102%;
    z-index: 1;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  }

 .smStickyHeader nav {
    float: right;
    position: absolute;
    top: -68px;
    right: 44px;
    font-size: 13pt !important;
  }

  .col-sm-6 label {
    padding: 10px;
  }

  .col-sm-6 label a {
    color: #000;
    text-decoration: none;
  }

  .col-sm-6 label a:hover {
    color: #ededed;
    text-decoration: none;
  }

  .col-sm-6 label a:active {
    color: #4f4f4f;
    text-decoration: none;
  }

  .headerWrapper {
    display: none;
  }

  .container {
    max-width: 100%;
  }

  #sm_about {
    background-color: #d6d6d6;
    width: 100%;
    padding-bottom: 100px;
    display: block;
  }

  #sm_about p {
    padding-top: 7px;
    padding-right: 40px;
    font-size: 14pt;
    line-height: 45px;
    display: block;
  }

  .photo {
    width: 350px;
    height: 350px;
    margin: -50px auto;
    display: block;
  }

  hr {
    width: 82%;
    left: 0px;
  }

  span {
    top: 91px;
    font-size: 15pt;
  }

  #sm_portfolio {
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 40px;
    display: block;
  }

  #sm_portfolio h2 {
    text-align: center;
    font-weight: bold;
    color: #707070;
    padding-top: 36px;
    padding-bottom: 31px;
    font-size: 1.25rem;
  }

  #sm_portfolio hr {
    background-color: #707070;
    width: 50%;
    position: relative;
    top: -12px !important;
    left: 0px !important;
  }

  .sm_oil, .sm_quote, .sm_weather, .sm_viewer, .sm_twitch {
    position: relative;
    left: 46px;
    padding-top: 30px;
  }

  .sm_case_study {
    margin-left: 46px;
  }

  #about {
    display: none;
  }

  #portfolio {
    display: none;
  }

  #contact {
    display: none;
  }

  #sm_contact {
    background-color: #d6d6d6;
    width: 100%;
    padding-bottom: 60px;
    display: block;
  }

  #sm_contact h2 {
    text-align: center;
    font-weight: bold;
    color: #707070;
    padding-top: 36px;
    padding-bottom: 19px;
    font-size: 1.25rem;
  }

  #sm_contact p {
    padding-right: 30px;
    padding-top: 0px;
    padding-left: 80px;
    top: 22px;
    font-size: 14pt;
    line-height: 35pt;
  }

  #sm_contact_form {
    padding-top: 42px;
    padding-left: 80px;
    font-size: 15pt;
  }

  input {
    width: 381px;
  }

  textarea {
    width: 381px;
  }

  button {
    left: 159px;
    position: relative;
  }

  #sm_contact hr {
    background-color: #707070;
    width: 50%;
    position: relative;
    top: 0px !important;
    left: 0px !important;
  }

  #burgerDiv {
    visibility: hidden;
  }
}

@media screen and (max-width: 575px) {
  .smHeaderWrapper {
    position: relative;
    width: 100%;
    height: auto;
  }

  .sm_portfolio {
    overflow: auto;
  }

  .container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
  }

  h1 {
    left: -317px;
  }

  .row {
    margin: 0px !important;
  }

  .col-sm-12 {
    padding: 0px;
  }

  .headerWrapper {
    display: none;
  }

  .smStickyHeader, .col-sm-6:first-child {
    width: 50%;
    float: left;
  }

  .smStickyHeader, .col-sm-6:nth-child(2) {
    width: 50%;
    float: right;
  }

  .smStickyHeader nav {
    top: -75px;
    right: 28px;
  }

  #burgerDiv {
    visibility: visible;
    right: 40px;
  }

  .burger {
        visibility: visible;
        position: absolute;
        top: 0;
        right: 70px;
        margin-top: 2.2em;
        width: 2.75rem;
        height: 2.75rem;
        background-color: #CCC;
        border: 1px solid #000;
        border-radius: 10px;
    }
    
    #burger-toggle:checked + .col-sm-6 nav {
        visibility: visible;
        width: 102.5% !important;
        background-color: #dda8de;
        top: 14px;
        transition: 1s;
    }
    
    #burger-toggle {
        position: absolute;
        visibility: hidden;
    }
    
    nav {
        visibility: hidden;
        position: absolute;
        top: 6em;
        width: 100%;
        left: 0;
        z-index: 2;
        text-align: center;
    }

    #burgerDiv label {
      position: absolute;
      left: 4px;
      bottom: -9px;
    }

    #sm_about {
      padding-bottom: 180px;
    }

    #sm_about hr {
      top: 10em;
    }

    #sm_about span {
      top: 169px;
    }

    .col-sm-6:nth-child(2) nav {
      display: inline-block;
      position: absolute;
      top: -2px;
    }

    .col-sm-6 label {
      padding-top: 17px;
    }

    .sm_oil, .sm_quote, .sm_weather, .sm_viewer, .sm_twitch, .sm_case_study {
      width: 82.75%;
      height: auto;
    }

    #sm_contact p {
      padding-left: 0px;
    }

    #sm_contact_form {
      padding-left: 0px;
    }

    #sm_contact_form input, #sm_contact_form textarea {
      position: relative;
      width: 100%;
      height: auto;
    }

    #sm_contact_form button {
      position: absolute;
      left: 44.5%;
    }

    .photo {
      margin: -50px auto;
    }
}

@media screen and (max-width: 450px) {

  .smHeaderWrapper {
    position: relative;
/*    min-width: 541px;*/
    height: auto;
  }

  .container {
    position: relative;
/*    min-width: 541px;*/
    height: auto;
    margin: 0px !important;
    overflow: auto;
  }

  h1 {
    top: 1.1rem;
    font-size: 3.5rem !important;
    padding-left: 120px !important;
  }

  .row {
    margin: 0px !important;
  }

  .col-sm-12 {
    padding: 0px;
  }

  .headerWrapper {
    display: none;
  }

  .smStickyHeader, .col-sm-6:first-child {
    width: 50%;
    float: left;
  }

  .smStickyHeader, .col-sm-6:nth-child(2) {
    width: 50%;
    float: right;
  }

  .smStickyHeader nav {
    top: -75px;
    right: 28px;
  }

  #burgerDiv {
    visibility: visible;
    right: 30px;
  }

  .burger {
        visibility: visible;
        position: absolute;
        top: 0;
        right: 70px;
        margin-top: 2.25em;
        width: 44px;
        height: 44px;
        background-color: #CCC;
        border: 1px solid #000;
        border-radius: 10px;
    }
    
    #burger-toggle:checked + .col-sm-6 nav {
        visibility: visible;
        width: 103.85% !important;
        background-color: #dda8de;
        top: 14px;
        transition: 1s;
    }
    
    #burger-toggle {
        position: absolute;
        visibility: hidden;
    }
    
    nav {
        visibility: hidden;
        position: absolute;
        top: 6em;
        width: 100%;
        left: 0;
        z-index: 2;
        text-align: center;
    }

    #burgerDiv label {
      position: absolute;
      left: 4px;
      bottom: -9px;
    }

/*    .sm_sticky_header nav {
      position: absolute;
    }*/

    .col-sm-6:nth-child(2) nav {
      display: inline-block;
      position: absolute;
      top: -2px;
    }

    .col-sm-6 label {
      padding-top: 17px;
    }

    #sm_about p {
      text-align: justify;
      line-height: 35px;
      font-size: 11pt;
      padding: 0px 20px;
    }

    #sm_about span {
      top: 169px;
      font-size: 9pt;
      padding-left: 20px;
    }

    #sm_about hr {
      width: 93%;
    }

    .sm_oil, .sm_quote, .sm_weather, .sm_viewer, .sm_twitch, .sm_case_study {
      width: 79%;
      height: auto;
    }

    .sm_case_study {
      padding: 5px;
    }

    .sm_case_study a {
      font-size: 0.75rem;
    }

    #sm_contact p {
      padding-left: 0px;
    }

    #sm_contact_form {
      padding-left: 0px;
    }

    #sm_contact_form input, #sm_contact_form textarea {
      position: relative;
      width: 100%;
      height: auto;
    }

    #sm_contact_form button {
      position: absolute;
      left: 44.5%;
    }

    .photo {
      margin: -50px auto;
      width: 200px;
      height: 200px;
    }
}