body {
	background-image: url(forest.jpg);
	background-repeat: no-repeat;
	margin: 0px;
}

.header_bkgrd {
	background-color: #63cc2675;
	padding-top: 1px;
    padding-bottom: 1px;
}

hr {
	border: none;
	background-color: #e91e1e;
	height: 3px;
	margin: 0px;
}

h1 {
  font-family: 'Calligraffitti', cursive;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000;
  font-size: 3.5em;
  letter-spacing: 3px;
  margin-top: 50px;
}

#quoteDisplay {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 129px;
  text-shadow: 2px 2px black;
}

span {
  font-size: 14pt;
  font-style: italic;
}

button {
  background-color: #e91e1e;
  color: #ffffff;
  font-size: 14pt;
  padding: 10px;
  border: 0px;
  float: right;
  position: relative;
  top: 221px;
  right: 579px;
}

button:hover {
  background-color: #e91e1e75;
}

@media (max-width: 1205px) and (min-width: 1153px) {
	button {
		right: 553px;
	}
}

@media (max-width: 1152px) and (min-width: 1100px) {
	button {
		right: 513px;
	}
}

@media (max-width: 1099px) and (min-width: 1010px) {
	button {
		right: 470px;
	}
}

@media (max-width: 1009px) and (min-width: 971px)  {
	button {
		right: 446px;
	}
}

@media (max-width: 970px) and (min-width: 888px) {
	button {
		right: 422px;
	}
}
