h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#quoteDisplay {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #737373;
}

span {
  font-size: 14pt;
  font-style: italic;
}

button {
  background-color: #63cc26;
  color: #ffffff;
  font-size: 14pt;
  padding: 10px;
  border: 0px;
  margin: 0 auto;
  position: relative;
  top: 26px;
  left: 260px;
}

button:hover {
  background-color: #63cc2666;
}