.quote {
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 20px 40px 20px;
  width: 50%;
}

#message {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #737373;
}

span {
  font-size: 12pt;
  font-style: italic;
}

button {
  background-color: #63cc26;
  color: #ffffff;
  font-size: 14pt;
  padding: 10px;
  border: 0px;
  margin: 0 auto;
  position: relative;
  left: 260px;
}

button:hover {
  background-color: #63cc2666;
}