@charset "utf-8";

/* Global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

section {
	padding: 125px 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul, nav {
    list-style: none;
}

/* Header */

.logo {
	width: 125px;
	height: auto;
	filter: brightness(125%) drop-shadow(2px 2px 2px black);
    position: absolute;
    top: 2em;
    left: 4em;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	color: #fff;
	animation: 1.5s fadeIn .5s forwards; /* duration, name, delay, fill-mode */
	opacity: 0;
}

header nav {
    display: flex;
/*    flex-direction: row;*/
}

header nav li {
    margin: 0 15px;
}

header h2 {
	text-transform: uppercase;
	font-weight: 300;
}

header nav {
	display: flex;
	justify-content: flex-end;
	font-size: 1.25em;
	position: absolute;
    top: 4em;
    right: 4em;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

header a {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
	transition: opacity 0.2s;
}

header a:hover {
	opacity: 1;
    cursor:pointer;
}

#menu {
	display: none;
}

#burger {
	display: none;
}

#buttons {
	display: none;
}

#cross {
	display: none;
}

section:nth-child(odd) {
	background-color: #EEE;
}

section h3.title {
	font: bold 30px 'Montserrat', sans-serif;
	text-align: center;
}

section hr {
	border: solid 2px rgb(114, 149, 239);
	width: 10rem;
	margin: 2rem 0;
}

section p {
	font-size: 1.25em;
    line-height: 3rem;
    /*padding: 0 3em;*/
}

header {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #FFF;
	box-shadow: inset 0px 0px 10px #000;
}

.background {
	width: 100%;
	height: auto;
}

header .background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
	width: 100%;
	height: 100%;
	transform: rotate(180deg);
	filter: blur(3px);
}

header .background::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-color: rgba(114, 149, 239, 0.4);
}

header h1, header h3 {
	filter: drop-shadow(2px 2px 2px #000);
}

header h1 {
	font: bold 8em 'Montserrat', sans-serif;
	margin-bottom: 15px;
	animation: 2s fadeIn 1s forwards;
	opacity: 0;
}

header h3 {
	font-family: bold 28px 'Montserrat', sans-serif;
	margin-bottom: 40px;
	animation: 2s fadeIn 1s forwards;
	opacity: 0;
}

h3#greeting {
	font-size: 2.5em;
}

/* Portfolio section */
#portfolio hr {
	margin-bottom: 2.5em;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery a img {
	width: 450px;
	height: 300px;
}

/* Contact section */
.contactWrapper {
	display: flex;
	flex-direction: row;
}

#big_contact form {
  padding-top: 30px;
  flex-basis: 50%;
}

#message{
  height: 100px !important;
  padding: 10px !important;
  border: 0px !important;
  border-bottom: 1px solid #000 !important; 
}

input {
  width: 80%;
  border: 0px !important;
  border-bottom: 1px solid #000 !important;
  font-size: 1.125rem;
  padding: 10px !important;
}

textarea {
	font-size: 1.125rem;
	width: 80%;
}

#big_contact p {
  font-size: 15pt;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 60px;
  top: 0px !important;
  flex-basis: 50%;
}

button {
	font-size: 1.125rem;
	padding: 9px;
	background-color: rgb(114, 149, 239);
	color: #fff;
	border-radius: 5px;
	border: 0px;
}

button:hover {
	background-color: rgb(242, 141, 15);
}

/* Footer section */
footer {
	display: flex;
	background-color: #485573;
	color: #fff;
	padding: 60px 0;
	justify-content: center;
}

footer ul {
	display: flex;
	align-items: center;
}

footer ul li:first-child {
	margin-right: 2.5em;
}

footer ul li {
	margin: 0 8px;
}

footer i {
	font-size: 2rem;
}

footer a {
	color: inherit;
	opacity: 0.8;
	transition: opacity 0.2s;
	text-decoration: none;
}

footer a:hover {
	opacity: 1;
}

footer a[id="about"]:target ~ section#about {
	transform: translateY(-500px);
}

#sm_contact {
	display: none;
}

@media screen and (max-width: 873px) {
	/* Contact Section */
	#big_contact {
		display: none;
	}

	#big_contact p {
		font-size: 12pt;
		line-height: 2.5rem;
	}

	section {
		padding: 85px 100px;
	}

	section h3.title {
		font-size: 27px;
	}

	section#sm_contact {
		display: flex;
		justify-content: center;
		background-color: white;
	}

	.sm_contactWrapper {
		display: flex;
		flex-wrap: wrap;
	}

	#sm_message {
	  height: 100px !important;
	  padding: 10px !important;
	  border: 0px !important;
	  border-bottom: 1px solid #000 !important; 
	}

	input {
	  border: 0px !important;
	  border-bottom: 1px solid #000 !important;
	  padding-top: 20px !important;
	}

	input, textarea {
		width: 22em;
		font-size: 1.5rem;
	}

	.sm_contactWrapper button {
		font-size: 1.5rem;
		padding: 9px;
		background-color: rgb(114, 149, 239);
		color: #fff;
		border-radius: 5px;
		border: 0px;
	}

	.sm_contactWrapper button:hover {
		background-color: rgb(242, 141, 15);
	}

	section#sm_contact p {
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 700px) {
	#intro h1 {
		font: 7em;
	}

	h3#greeting {
		font-size: 2em;
	}

	h3.title {
		font-size: 27px;
	}

	.clockGreet {
		margin-top: 54px;
	}

	section {
		padding: 80px;
	}

	section#about p {
		padding: 0;
	}

	section#sm_contact {
		padding: 80px;
	}

	input, textarea {
		width: 21em;
	}

}

@media screen and (max-width: 600px) {
	header nav {
		display: none;
	}

	#buttons {
		display: block;
		position: absolute;
    	top: 5rem;
    	right: 5rem;
	}

	#burger {
		display: block;
	}

	#menu {
		display: none;
		background-color: #EEE;
		color: #000;
		text-align: center;
		position: absolute;
	    right: 80px;
	    top: 110px;
	    z-index: 1;
	    border-radius: 5px;
	}

	#menu li {
		padding: 15px;
	}

	#cross {
		display: none;
	}

	header h1 {
		font-size: 7em;
	}

	section p {
		font-size: 1.125em;
	}

	section h3.title {
		font-size: 27px;
	}

	section#sm_contact p {	
	    width: 100%;
	    line-height: 2.5rem;
	    margin-bottom: 20px;
	}

	input, textarea {
		width: 25.5em;
		font-size: 1em;
		padding-top: 10px !important;
	}

	.sm_contactWrapper button {
		font-size: 1rem;
	}
}

@media screen and (max-width: 448px) {
	.logo {
		width: 105px;
		top: 2em;
		left: 2.5em;
	}

	#buttons {
		top: 4rem;
		right: 4rem;
	}

	header h1 {
		font-size: 5.5em;
	}

	h3#greeting {
		font-size: 1.5em;
	}

	section {
		padding: 45px 60px;
	}

	section h3.title {
		font-size: 25px;
	}

	.gallery a img {
		width: 100%;
		height: auto;
	}

	input, textarea {
		width: 18em;
	}
}

@media screen and (max-width: 398px) {
	header {
		padding: 35px 50px 0;
	}

	.logo {
		width: 95px;
	}

	#buttons {
		top: 3.5rem;
		right: 3rem;
	}

	section h3.title {
		font-size: 20px;
	}

	section p {
		font-size: 0.8em;
		line-height: 2.5rem;
	}

	input, textarea {
		font-size: 0.8em;
	}

	footer {
		font-size: 0.8em;
	}
}