body {
	background-color: #693d81;
}

.container {
	padding: 0px !important;
	max-width: 1100px !important;
	margin-top: 50px;
	margin-bottom: 50px;
}

h1 {
	font-family: Arial;
	color: #693d81;
}

h1 span {
	color: #693d81;
	font-size: 12pt;
	position: relative;
	bottom: 20px;
	right: 8px;
}

h2 {
	color: #693d81;
	font-variant: small-caps;
}

h4 {
	padding-top: 5px;
}

#header {
	padding: 18px;
	background-color: #ffeb3b;
	width: 1170px;
	border-top: outset 3px;
}

.twitch_logo {
	position: relative;
	bottom: 2px;
}

.row {
	border-left: outset 3px;
	border-right: outset 3px;
}

.row:nth-child(2) {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
}

#followerInfo .row:last-child {
	border-bottom: solid #9a9a9a;
	padding-top: 20px;
	padding-bottom: 20px;
}

#followerInfo .row {
	border-bottom: solid yellow;
	background-color: #ff6666;
	padding-top: 20px;
	padding-bottom: 20px;
}

hr {
	background-color: #ffeb3b;
	margin: 0px !important;
	width: 100%;
	border-left: outset 3px;
	border-right: outset 3px;
}