body {
	margin: 0px;
}

.container {
	max-width: 1248px;
	border: 3px solid #000;
	background-image: url(Wikipedia.png);
	margin: 0 auto;
	margin-top: 120px;
}

p {
	text-align: center;
	font-size: 20pt;
}

.random a {
	text-decoration: none;
	color: #000;
}

.random a:visited {
	color: #000;
}

.lookup {
	position: relative;
    left: 534px;
}

.keyword {
	border: 5px solid black;
	border-radius: 30px;
	font-size: 12pt;
	padding: 8px;
	position: relative;
    left: 448px;
}

#search {
	margin-bottom: 34px;
	width: 100%;
}

.x {
	font-size: 18pt;
	position: relative;
	float: right;
	right: 418px;
    top: -66px;
    width: 20px;
    height: 20px;
}

#output ul {
	padding-right: 15px;
}

#output li {
	list-style-type: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 40px;
}

#output li a {
	font-size: 18pt;
	color: #2d12c5;
	text-decoration: none;
}

#output p {
	text-align: left;
	font-size: 14pt;
}

#output li:last-child {
	border: 0px;
}

hr {
	position: relative;
	top: 9px;
	border: solid 1px #afb0b1;
}